@model QueueSystem.ViewModels.DoctorPageViewModel

@{
    ViewData["Title"] = Model.Clinic.Name;
}



<br />

<div class="row">
    <div class="col-xs-2">

        <div class="text-center" style="float:right; color:darkred; align-items:center"><h1>@Model.Clinic.Name</h1></div>
        <br />
        <br />
        <br />
        <hr />
        <br />
        <br />
        <br />
     
        <a href="/Home/Index" class="btn btn-primary btn-block active" role="button" aria-pressed="true"><h4>عــودة</h4> </a>
    </div>

    <div class="col-xs-1"></div>

    <div class="col-xs-9">

        <table class="table  table-hover table-bordered" dir="rtl">
            <thead>
                <tr class="bg-info">
                    <th class="text-center col-xs-2" style="vertical-align:middle"><h4>اسم الطبيب</h4> </th>
                    <th class="text-center col-xs-2" style="vertical-align:middle"><h4>الإنتظار عند الأستقبال</h4> </th>
                    <th class="text-center col-xs-2" style="vertical-align:middle"><h4>الإنتظار عند العيادة</h4> </th>
                    <th class="text-center col-xs-2" style="vertical-align:middle"><h4>الكشف عند الطبيب</h4> </th>
                    <th class="text-center col-xs-2" style="vertical-align:middle"><h4>تم الكشف</h4> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Doctor in Model.Doctors)
                {
                    string a = "";
                    string Ok = (Doctor.DocWait <= 5) ? "success" : "warning";
                    if (Doctor.InDuty == false) { Ok = "danger"; a = "disabled"; };

                    <tr class=@Ok>
                        <td class="text-center col-xs-2" style="vertical-align:middle"><b>@Doctor.Name</b></td>
                        <td class="text-center col-xs-2" style="vertical-align:middle">@Doctor.RecWait</td>
                        <td class="text-center col-xs-2" style="vertical-align:middle">@Doctor.DocWait</td>
                        <td class="text-center col-xs-2" style="vertical-align:middle">@Doctor.Seeing</td>
                        <td class="text-center col-xs-2" style="vertical-align:middle">@Doctor.Saw</td>
                        <td class="text-center col-xs-2" style="vertical-align:middle">
                        <a class="btn btn-primary @a" href="/Home/Ticket/@Doctor.Code"><b>خــذ رقــم</b></a>
                        </td>
                    </tr>
                }
            </tbody>
                </table>
            </div>    
        
    </div>




</div>
